.redirect-urls {
    font-size: 15px;
    position: absolute;
    right: 100px;
}

.list-item-header {
    height: 20px;
    width: 100%;
    border-bottom: 1px solid #CCC;
}

.filters {
    font-size: 12px;
    margin: 0;
    padding: 0;
    list-style: none;
    right: 0;
    left: 0;
}

.filters li {
    display: inline;
}

.filters li a {
    color: inherit;
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
}

.filters li a:hover {
    border-color: rgba(175, 47, 47, 0.1);
}

.filters li a.selected {
    border-color: rgba(175, 47, 47, 0.2);
}

.list-item {
    width: 100%
}

.list-item button .material-icons {
    font-size: 16px
}

.list-item {
    border-bottom: 1px solid #CCC;
}

.list-item:hover button {
    float: right;
    margin: 7px 5px;
    width: 30px;
    height: 30px;
    display: inline;
}

.list-item button {
    display: none
}

.list-item /deep/ .md-checkbox-label {
    margin: 10px 0;
}

.inactive {
    color: #9d9d9d;
    text-decoration: line-through
}

.fab-add {
    position: absolute;
    right: 30px;
    top: 50px;
}


